<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MvcInvalidDocumentsWebLink" value="https://aplikace.mvcr.cz/neplatne-doklady/"/>

		<add key="DevAcmarkEuApiLink" value="https://dev.acmark.eu:5555/ACMARK/api/data/v8.2/"/>

		<add key="OpVseFileLink" value="ViewFile.aspx?typ_dokladu=0"/>

		<add key="OpDifference" value="ViewFile.aspx?typ_dokladu=0&amp;rozdil=1"/>

		<add key="OpsVseFileLink" value="ViewFile.aspx?typ_dokladu=1"/>

		<add key="OpsDifference" value="ViewFile.aspx?typ_dokladu=1&amp;rozdil=1"/>

		<add key="CdVseFileLink" value="ViewFile.aspx?typ_dokladu=2"/>

		<add key="CdDifference" value="ViewFile.aspx?typ_dokladu=2&amp;rozdil=1"/>

		<add key="OpWithoutSeries" value="805210000" />

		<add key="OpWithSeries" value="805210001" />

		<add key="PassportPurple" value="805210002" />

		<add key="PassportGreen" value="805210003" />
	</appSettings>
</configuration>